/**********GENERALI************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
}
/***utily***/
.d-flex{
    display:flex;
}
.d-flex-column{
    flex-direction: column;
    
}
.align-center{
    align-items: center;
}
.text-uppercase {
    text-transform: uppercase;
  }

  .text-capitalize {
    text-transform: capitalize;
  }

.warppers{
    height: calc(100vh - 70px);

}

.d-inline-block{
    display: inline;
}

.container{
width: 230px;
background-color: black;
}
main{
    flex-grow: 1;
    background-color: #141922;  
}

.top-bar-main{
    height: 70px;
    background-color:rgba(0, 0, 0, 0.5);
    
}

.upgrate{
    background-color: black;
    color: #B5B6B8;
    border: 1px solid;
    border-radius: 2rem;
    padding: 0.2rem 1rem;
    position: fixed;
    top: 20px;
    right: 10px;

}
footer {
    height: 70px;
    background-color: #333;
    padding: .8rem;
  }

.position-logo{
    width: 100%;
    height: 70px;
   margin-top: 20px;
   margin-left: 20px;
 
}

.img-logo {
    width: 60%;
}

#logo-home ,
#logo-searche,
#logo-library{
    width: 15%;
    margin-top: 0.5rem;
}

#library{
    margin-left: 20px;
}

#text-home,
#text-searche,
#text-library{
  margin-left: 0.5rem;
}