/**********GENERALI************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/***utily***/
.d-flex{
    display:flex;
}
.text-uppercase {
    text-transform: uppercase;
  }

.warppers{
    height: calc(100vh - 70px);

}

.container{
width: 230px;
background-color: black;
}
main{
    flex-grow: 1;
    background-color: #141922;  
}

.top-bar-main{
    height: 70px;
    background-color:rgba(0, 0, 0, 0.5);
    
}

.upgrate{
    background-color: black;
    color: #B5B6B8;
    border: 1px solid;
    border-radius: 2rem;
    padding: 0.2rem 1rem;
    position: fixed;
    top: 20px;
    right: 10px;



}
footer {
    height: 70px;
    background-color: #333;
    padding: .8rem;
  }

