/**********GENERALI************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*** -----utily----- ***/
/* .test-bord{
    border: 1px solid white;
}
 */

 
 
 .text-decoration{
     text-decoration: underline;

 }
.color-white{
    color: white;
}

.color-grey{
    color: #A3A3A3;
   
}

.border-left{
    border-left: 2px solid#adff2f;
}
.d-block{
    display: block;
}
.d-inline{
    display: inline;
}
.d-flex{
    display:flex;
}

.d-flex-column{
    flex-direction: column;
}
.flex-grap{
    flex-wrap: wrap;

}
.flex-grow{
    flex-grow: 1;
}

.justify-content{
    justify-content: space-between;
    
}
.justify-content-center{
    justify-content: center;
}
.justify-align-center{
    align-items: center;
    
}
.justify-content-around{
    justify-content: space-around;
}

.flex-space-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.text-uppercase {
    text-transform: uppercase;
  }
  .text-capitalize {
      text-transform: capitalize;
    }
    .pd-text{
        padding: 0 1.5rem;
    }
    .pl-20px{
        padding-left: 20px;
    }
    .pl-10px{
        padding-left: 10px;
    }
    .pl-8px{
        padding-left: 8px;
    }
    .p-top-20px{
        padding-top: 20px;
    }
    .pt-pb{
        padding: 0.3rem 0;
    }
    .mb-rem{
        margin-bottom: 1em;
    }
    .mt-rem{
        margin-top: 0.5rem;
    }
    .ml-10px{
        margin-left: 10px;
    }
    .list-style-type{
        list-style-type: none;
    }
    
    
    .d-inline-block{
        display: inline;
    }
    .text-decoration{
        text-decoration: none;
    }  
    
    /**---- Fine utily ----**/
    
    /**---------- HOVER ---------------- */
    /* .cover-album:hover{
       
    } */
    
    a:hover{
        color: white;
    }
    #name-piece:hover{
        text-decoration: underline;
    }
    

    .active-play:hover .point {
        visibility: visible;
      }

      div:hover .active-play{
        background-color: #adff2f;
      }     
    #button-upgrate:hover {
    transform: scale(1.2);
    
    }
    
    /**---------- FINE HOVER ---------------- */
    .point{
      visibility: hidden;
        content: " ";
        position: absolute;
        right: 0;
        bottom: -2.75px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #adff2f;
       
      }


    .active::after {
        content: " ";
          display: block;
          width: 30%;
          height: 2px;
         background-color: #adff2f;
         margin: auto ;
      }
        
      



    .container{
        min-width: 200px;
        background-color: black;
        height: calc(100vh - 70px);
        
    }
    main{
        flex-grow: 1;
        background-color: #141922;  
        height: calc(100vh - 70px);
        overflow: auto;
        
}
.top-bar-main{
    height: 70px;
    background-color:rgba(0, 0, 0, 0.5);
    top: 0;
    position: absolute;
    left: 200px;
    right: 0;
    z-index: 1;
}

.upgrate{
    background-color: black;
    color: #B5B6B8;
    border: 1px solid;
    border-radius: 2rem;
    padding: 0.2rem 1rem;
    position: fixed;
    top: 20px;
    right: 30px;
    cursor: pointer;

}
.position-logo{
    height: 70px;
    width: 150px;
    
   
}
#logo {
    width: 150px;
    margin-left: 20px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
}


#library ul{
    font-size: 0.8rem;
}

#library ul li{
    padding: .3rem 20px;
}

#logo-home ,
#logo-searche,
#logo-library,
#create-playlist{
    width: 25px;
    height: 100%;
    vertical-align: middle;
   color: #A3A3A3;
}

#text-header-list{
    font-size: 1rem;
}

 #page{
    margin-top: 70px;
}
#playlist ul li {
    list-style-type: none;
   padding: 0.4rem 0;
   font-size: 0.8rem ;
}

#nav-bottom ul li {
    list-style-type: none;
   padding: 0.4rem 0;
   
}
#page ul li {
    list-style-type: none;
    margin-top: 1rem;
    padding: .8rem;
    font-size: .7rem;
    
}

#page ul  {
   
    margin: auto 50px;
}
   


#icon-app{
  
    border-bottom: 1px solid  #333;
}
#nav-bottom{
    width: 100%;
    padding-right: 20px;
    
}

#instal-app{
    font-size: .8rem;

}

li a {
text-decoration: none;
color: #A3A3A3;

}

#add{
  font-size: 2rem;
    background-color: #A3A3A3;
    color: black;
    width: 30px;
    height: 30px;
  
}




#logo-profile{
    width: 20px;
    background-color:#A3A3A3; 
    border-radius: 50%;
    vertical-align: middle;
}

.fa-arrow-circle-down{
    font-size: 0.8rem;
} 

  


#name-piece{
    font-size: 0.7rem;
}
.fa-play-circle{
    font-size: 1.5rem;
}
#icons-time{
    width:100%;
}
#playlist{
    overflow: auto;
    flex-grow: 1;
   
}

.cover-container{
    padding: 1.5rem;
  
}
.cover-album-generic{
    width: calc(100% / 6);
    padding: .5rem;
}


div img {
    width: 100%;
}

.img-circle{
    border-radius: 50%;
    
}
.cover-album-generic .cover-album{
    object-fit: cover;
    
}

.cover-album-generic h4,
.cover-album-generic  p{
    text-align: center;
    
}
.cover-album-generic p{
    font-size: .8rem;
}

#sinister-small-cover{
    background-image: url(../img/sinister.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.footer-left{
    min-width: 10%;
}

.footer-center{
  width: 50%;
   
} 

.footer-right{
    min-width: 20%;
}
.active-play{
    position: relative;

}

.loading-bar{
    height: 4px;
    width:60%;
    background: #5a5a5a;
    border-radius: 5px;
}
.loading-bar >div{
    height: 4px;
    width: 20%;
    background: #c1c1c1;
    border-radius: 5px;
}

#icons-controls a,
#icons-media a{
    padding: .5rem;
}
footer {
    padding: .5rem;
    height: 70px;
    background-color: #333;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    
  }


@media screen and (max-width :576px)  {
   #logo{
    width: 35px;
    background-image: url("../img/logo-small.svg");
    margin: auto;
}   
   #text-home,
   #text-searche,
   #text-library,
   #responsive-playlist,
   #instal-app,
   #text-author{
       display: none;
   }

   .visibility-hidden {
    visibility: hidden;
 }
.border-left,
#icon-app{
    border: none;
}
.position-logo {
    height: 70px;
    width: 50px;
  }
.container {
    min-width: 50px;
    background-color: black;
    height: calc(100vh - 70px);
  }

 
  #library ul li {
    padding:0;
  }

  #library{
      margin: auto;
  }
    #playlist  {
     overflow: auto;
     min-height: 200px;
    }
    .cover-album-generic{
        width: calc(100% / 2);
        
    }
    .top-bar-main {
        left: 50px;
    }

    #heart-folder{
        flex-direction: column;
      justify-content: center;
        
    }
    .footer-left{

        width: 20%;
        
        }

  }